# Configuración de Conexión a Supabase (Local con Docker o Cloud)
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_supabase_anon_key_aqui

# APIs Externas
RESEND_API_KEY=tu_resend_api_key_aqui
CRON_SECRET=tu_clave_secreta_para_cron_aqui
